h1{
    background-color: brown;
    display: inline;
}
span{
    background-color: green;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 50px;
}
p{
    background-color: aqua;
}