h1{
    color: #00796b;
}
h1:hover{
    color: skyblue;
    background-color: seagreen;
    margin: 50px;
    padding: 50px;
    font-size: 50px;
    font-weight: 700;
    cursor: pointer;

}
.middle-person:focus{
    color: blue;
    font-weight: 700;
}
/* a{
    text-decoration: none;
    height: 30px;
    width: 50px;
    background-color: #00796b;
    color: #fff;
    padding: 20px 30px;
    margin-top: 30px;
} */